@page
@model IndexModel
@{
    ViewData["Title"] = "PowerConcern";
}
@functions {
    string FloatFormat(float f) {
        return f.ToString("0.0#");
    }   
}

<div class="text-center">
    <h1 class="display-4">Powerconcern</h1>
    <br/>
    <p>User ID:@Model.userId</p>
    <br/>
    <h2>Charger Info</h2>
    <br/>
    <p></p>
    @if(@Model.Partner!=null) {
        <p>Meter(s) for @Model.Partner.Name</p>
        <table class="table">
            <tr>
                <th>Name</th>
                <th>L1</th>
                <th>L2</th>
                <th>L3</th>
            </tr>
            @foreach (var meter in Model.meterCacheList)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => meter.sName)
                    </td>
                    @{
                        for (int i = 1; i < 4; i++)
                        {
                            <td>
                                @FloatFormat(meter.fMeanCurrent[i])
                            </td>
                        }
                    }
                </tr>
                <table class=table>
                    <p>Charger(s) for @meter.sName</p>
                    <tr>
                        <th>Name</th>
                        <th>Status</th>
                        <th>L2</th>
                        <th>L3</th>
                    </tr>
                    @foreach (var charger in meter.cChildren)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => charger.sName)
                            </td>
                            @{
                                for (int i = 1; i < 4; i++)
                                {
                                    <td>
                                        @FloatFormat(charger.fCurrentSet)
                                    </td>
                                }
                            }
                        </tr>
                    }
                </table>
            }
        </table>
    } else
    {
        <p>Partner not found for logged in user</p>
    }
<p><a asp-page="/Meter/Index">Meter</a></p>
</div>
