@page
@model EnergyApp.Pages_Chargers.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Charger</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Charger.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Charger.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Charger.MaxCurrent)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Charger.MaxCurrent)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Charger.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
