@page
@model EnergyApp.Pages_CMPAssignments.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CMPAssignment</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CMPAssignment.Meter)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CMPAssignment.Meter.ID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CMPAssignment.Charger)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CMPAssignment.Charger.ID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CMPAssignment.Partner)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CMPAssignment.Partner.ID)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-page="./Index">Back to List</a>
</div>
