@page
@model EnergyApp.Pages_Configuration.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Configuration[0].Key)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Configuration[0].Value)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Configuration) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Key)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Value)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ConfigurationID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ConfigurationID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ConfigurationID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
